<%- include("partials/header"); -%>
<div class="about-page">
  <div class="heading">
    <h1><strong>About US</strong></h1>

  </div>
  <div class="container">
    <div >
      <img data-aos="zoom-in-left" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="neeraj Chemicals">

    </div >
    <div class="content">
      <p data-aos="fade-right">Incepted in the year 1996, we are among the leading suppliers of a diversified range of Natural Essential Oils and Natural Mint Products used extensively in Food and Flavour, Fragrance, Pharmatceutical and FMCG products, and reckoned worldwide for their high quality and precise composition. We are situated at the valley of herbs in Sambhal. We bring this power of nature closer to you, directly from the Indian basket of Mentha Arvensis Oil, Menthol Crystals, Mentha Piperita Oil, Spearmint Oil, Basil Oil and Several other Indian Essential Oils. As one of the largest suppliers for Menthol Crystals, Mint Oils and Essential Oils, we always look forward for better quality and service standards for our valued customers. We work very hard in achieving consistency and perfection in quality. We keep on enhancing our quality standards year on year to maintain the products as per International Standards.
We wish to build symbiotic business relationship for climbing new horizons.</p>

    </div>

  </div>
  <div data-aos="flip-up" class="container-2">
    <h1><strong>Facts Table</strong></h1>
    <table class="table">

          <tbody>

            <tr class="table-row">
              <td class="type">Nature Of Busniess</td>
              <td class="type-answer">Wholesale Trader</td>
            </tr>
            <tr class="table-row">
              <td class="type">Company Owner</td>
              <td class="type-answer">Neeraj Rastogi , Prateek Rastogi</td>
            </tr>
            <tr class="table-row">
              <td class="type">Year Of Eastablishment</td>
              <td class="type-answer">1996</td>
            </tr>
            <tr class="table-row">
              <td class="type">Legal Status of Firm</td>
              <td class="type-answer">Paternship Firm</td>
            </tr>

            <tr class="table-row">
              <td class="type">GST No.</td>
              <td class="type-answer">09AAEFN2525M1Z2</td>
            </tr>
            <tr class="table-row">
              <td class="type payment">Payment Mode</td>
              <td class="type-answer"><ul>
                <li>Cash</li>
                <li>Credit Card</li>
                <li>Cheque</li>
                <li>DD</li>
                <li>Bank Transfer</li>
                <li>Onlne</li>

              </ul></td>
            </tr>


          </tbody>
        </table>
</div>
</div>

<%- include("partials/footer"); -%>
