<%- include("partials/header"); -%>
<div class="products-page">
  <div data-aos="zoom-in" class="heading">
    <h1><strong>Products</strong></h1>

  </div>
  <h2 data-aos="zoom-in"><strong>Herbal Oils</strong></h2>
  <div class="container">
    <div data-aos="fade-right" class="container-in" >
      <div >
        <table>

          <tbody>


              <tr class="table-row">
                <td class="type">State of Material</td>
                <td class="type-answer">Liquid</td>
              </tr>
              <tr class="table-row">
                <td class="type">Shell Life</td>
                <td class="type-answer">2 Years</td>
              </tr>
              <tr class="table-row">
                <td class="type">Purity</td>
                <td class="type-answer">99%</td>
              </tr>
              <tr class="table-row">
                <td class="type">Pack Size</td>
                <td class="type-answer">25kg</td>
              </tr>

              <tr class="table-row">
                <td class="type">Raw Material</td>
                <td class="type-answer">Leaves</td>
              </tr>
              <tr class="table-row">
                <td class="type payment">For more Details</td>
                <td class="type-answer">
                <a class="btn btn-primary" href="C:\Users\avira\Desktop\Neeraj\images\menthaarvensisoil.jpg" role="button">Contact Us</a>
              </tr>



          </tbody>
        </table>

      </div>
      <div >
        <h3>Mentha Arvensis</h3>
        <img class="img" src="./images/menthaarvensisoil.jpg" alt="">

      </div>

    </div>
    <div data-aos="fade-left" class="container-in" >
      <div class="">
        <h3>Basil Oil</h3>
        <img class="img" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
      </div>
      <div >
        <table>
          <tbody>
            <tr class="table-row">
              <td class="type">State of Material</td>
              <td class="type-answer">Liquid</td>
            </tr>
            <tr class="table-row">
              <td class="type">Shell Life</td>
              <td class="type-answer">2 Years</td>
            </tr>
            <tr class="table-row">
              <td class="type">Purity</td>
              <td class="type-answer">99%</td>
            </tr>
            <tr class="table-row">
              <td class="type">Pack Size</td>
              <td class="type-answer">25kg</td>
            </tr>

            <tr class="table-row">
              <td class="type">Raw Material</td>
              <td class="type-answer">Leaves</td>
            </tr>
            <tr class="table-row">
              <td class="type payment">For more Details</td>
              <td class="type-answer">
              <a class="btn btn-primary" href="contact" role="button">Contact Us</a>
            </tr>

          </tbody>
        </table>
      </div>
    </div>


  </div>
  <div class="container-2">
    <div data-aos="fade-right" class="container-in">
      <div >
        <table>
          <tbody>
            <tr class="table-row">
              <td class="type">State of Material</td>
              <td class="type-answer">Liquid</td>
            </tr>
            <tr class="table-row">
              <td class="type">Shell Life</td>
              <td class="type-answer">2 Years</td>
            </tr>
            <tr class="table-row">
              <td class="type">Purity</td>
              <td class="type-answer">99%</td>
            </tr>
            <tr class="table-row">
              <td class="type">Pack Size</td>
              <td class="type-answer">25kg</td>
            </tr>

            <tr class="table-row">
              <td class="type">Raw Material</td>
              <td class="type-answer">Leaves</td>
            </tr>
            <tr class="table-row">
              <td class="type payment">For more Details</td>
              <td class="type-answer">
              <a class="btn btn-primary" href="contact" role="button">Contact Us</a>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="">
        <h3>Spearmint Oil</h3>
        <img class="img" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
      </div>

    </div>
    <div data-aos="fade-left" class="container-in">
      <div class="">
        <h3>Menthol Oil</h3>
        <img class="img" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
      </div>

      <div >
        <table>
          <tbody>
            <tr class="table-row">
              <td class="type">State of Material</td>
              <td class="type-answer">Liquid</td>
            </tr>
            <tr class="table-row">
              <td class="type">Shell Life</td>
              <td class="type-answer">2 Years</td>
            </tr>
            <tr class="table-row">
              <td class="type">Purity</td>
              <td class="type-answer">99%</td>
            </tr>
            <tr class="table-row">
              <td class="type">Pack Size</td>
              <td class="type-answer">25kg</td>
            </tr>

            <tr class="table-row">
              <td class="type">Raw Material</td>
              <td class="type-answer">Leaves</td>
            </tr>
            <tr class="table-row">
              <td class="type payment">For more Details</td>
              <td class="type-answer">
              <a class="btn btn-primary" href="contact" role="button">Contact Us</a>
            </tr>

          </tbody>
        </table>
      </div>
    </div>


  </div>
  <div class="container-3">
    <div data-aos="fade-right"class="container-in" >
      <div >
        <table>
          <tbody>
            <tr class="table-row">
              <td class="type">State of Material</td>
              <td class="type-answer">Liquid</td>
            </tr>
            <tr class="table-row">
              <td class="type">Shell Life</td>
              <td class="type-answer">2 Years</td>
            </tr>
            <tr class="table-row">
              <td class="type">Purity</td>
              <td class="type-answer">99%</td>
            </tr>
            <tr class="table-row">
              <td class="type">Pack Type</td>
              <td class="type-answer">Bottle</td>
            </tr>

            <tr class="table-row">
              <td class="type">Raw Material</td>
              <td class="type-answer">Leaves</td>
            </tr>
            <tr class="table-row">
              <td class="type payment">For more Details</td>
              <td class="type-answer">
              <a class="btn btn-primary" href="contact" role="button">Contact Us</a>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="">
        <h3>Mentha Piperita Oil</h3>
        <img class="img" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
      </div>

    </div>
    <div data-aos="fade-left" class="container-in">
      <div class="">
        <h3>Peppermint Oil</h3>
        <img class="img" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
      </div>
      <div >
        <table>
          <tbody>
            <tr class="table-row">
              <td class="type">State of Material</td>
              <td class="type-answer">Liquid</td>
            </tr>
            <tr class="table-row">
              <td class="type">Shell Life</td>
              <td class="type-answer">2 Years</td>
            </tr>
            <tr class="table-row">
              <td class="type">Purity</td>
              <td class="type-answer">99%</td>
            </tr>
            <tr class="table-row">
              <td class="type">Pack Size</td>
              <td class="type-answer">25kg</td>
            </tr>

            <tr class="table-row">
              <td class="type">Raw Material</td>
              <td class="type-answer">Leaves</td>
            </tr>
            <tr class="table-row">
              <td class="type payment">For more Details</td>
              <td class="type-answer">
              <a class="btn btn-primary" href="contact" role="button">Contact Us</a>
            </tr>

          </tbody>
        </table>
      </div>


    </div>


  </div>
  <div class="container-4">
    <div data-aos="fade-right" class="container-in">
      <div >
        <table>
          <tbody>
            <tr class="table-row">
              <td class="type">State of Material</td>
              <td class="type-answer">Liquid</td>
            </tr>
            <tr class="table-row">
              <td class="type">Shell Life</td>
              <td class="type-answer">2 Years</td>
            </tr>
            <tr class="table-row">
              <td class="type">Purity</td>
              <td class="type-answer">99%</td>
            </tr>
            <tr class="table-row">
              <td class="type">Pack Size</td>
              <td class="type-answer">30ml</td>
            </tr>

            <tr class="table-row">
              <td class="type">Raw Material</td>
              <td class="type-answer">Leaves</td>
            </tr>
            <tr class="table-row">
              <td class="type payment">For more Details</td>
              <td class="type-answer">
              <a class="btn btn-primary" href="contact" role="button">Contact Us</a>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="">
        <h3>Lemongrass Oil</h3>
        <img class="img" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
      </div>

    </div>
    <div data-aos="fade-left" class="container-in" >
      <div class="">
        <h3>Palmarosa Oil</h3>
        <img class="img" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
      </div>

      <div >
        <table>
          <tbody>
            <tr class="table-row">
              <td class="type">State of Material</td>
              <td class="type-answer">Liquid</td>
            </tr>
            <tr class="table-row">
              <td class="type">Shell Life</td>
              <td class="type-answer">2 Years</td>
            </tr>
            <tr class="table-row">
              <td class="type">Purity</td>
              <td class="type-answer">99%</td>
            </tr>
            <tr class="table-row">
              <td class="type">Fragnance</td>
              <td class="type-answer">Palmorsa</td>
            </tr>

            <tr class="table-row">
              <td class="type">Raw Material</td>
              <td class="type-answer">Leaves</td>
            </tr>
            <tr class="table-row">
              <td class="type payment">For more Details</td>
              <td class="type-answer">
              <a class="btn btn-primary" href="contact" role="button">Contact Us</a>
            </tr>

          </tbody>
        </table>
      </div>
    </div>


  </div>

  <div class="container-5">
    <h2 data-aos="flip-down"><strong>Menthol Crystal</strong></h2>
    <div data-aos="zoom-in-left" class="container-in" >
      <div >
        <h3>Menthol Crystal</h3>
        <img class="img-solo"src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
      </div>
      <div >
        <table>
          <tbody>
            <tr class="table-row">
              <td class="type">State of Material</td>
              <td class="type-answer">Crystal</td>
            </tr>
            <tr class="table-row">
              <td class="type">Shell Life</td>
              <td class="type-answer">2 Years</td>
            </tr>
            <tr class="table-row">
              <td class="type">Purity</td>
              <td class="type-answer">99%</td>
            </tr>
            <tr class="table-row">
              <td class="type">Melting Point</td>
              <td class="type-answer">311 K</td>
            </tr>

            <tr class="table-row">
              <td class="type">Boiling Point</td>
              <td class="type-answer">485 K</td>
            </tr>
            <tr class="table-row">
              <td class="type payment">For more Details</td>
              <td class="type-answer">
              <a class="btn btn-primary" href="contact" role="button">Contact Us</a>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <h2 data-aos="flip-up" ><strong>Mint Terpenes</strong></h2>
    <div data-aos="zoom-in-left" class="container-in" >
      <div >
        <h3>Mint Terpene</h3>
        <img  class="img-solo" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
      </div>
      <div >
        <table>
          <tbody>
            <tr class="table-row">
              <td class="type">State of Material</td>
              <td class="type-answer">Liquid</td>
            </tr>
            <tr class="table-row">
              <td class="type">Shell Life</td>
              <td class="type-answer">2 Years</td>
            </tr>
            <tr class="table-row">
              <td class="type">Purity</td>
              <td class="type-answer">99%</td>
            </tr>
            <tr class="table-row">
              <td class="type">Fragnance</td>
              <td class="type-answer">Mint</td>
            </tr>


            <tr class="table-row">
              <td class="type payment">For more Details</td>
              <td class="type-answer">
              <a class="btn btn-primary" href="contact" role="button">Contact Us</a>
            </tr>
          </tbody>
        </table>
      </div>


  </div>
  <h2 data-aos="fade-down-right"><strong>Menthol Flakes</strong></h2>
  <div data-aos="fade-up-left" class="container-in" >
    <div >
      <h3>Menthol Flakes</h3>
      <img class="img-solo" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
    </div>

    <div >
      <table>
        <tbody>
          <tr class="table-row">
            <td class="type">State of Material</td>
            <td class="type-answer">Powder</td>
          </tr>
          <tr class="table-row">
            <td class="type">Shell Life</td>
            <td class="type-answer">2 Years</td>
          </tr>
          <tr class="table-row">
            <td class="type">Purity</td>
            <td class="type-answer">99%</td>
          </tr>

          <tr class="table-row">
            <td class="type payment">For more Details</td>
            <td class="type-answer">
            <a class="btn btn-primary" href="contact" role="button">Contact Us</a>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>



</div>

<%- include("partials/footer"); -%>
