<%- include("partials/header"); -%>
<div class="products-page">
  <div data-aos="zoom-in" class="heading">
    <h1><strong>Products</strong></h1>

  </div>
  <h2 data-aos="zoom-in"><strong>Herbal Oils</strong></h2>
  <div class="container">
    <div data-aos="fade-right" >
      <h3>Mentha Arvensis</h3>
      <img class="img" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
    </div>
    <div data-aos="fade-left" >
      <h3>Basil Oil</h3>
      <img class="img" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
    </div>


  </div>
  <div class="container-2">
    <div data-aos="fade-right" >
      <h3>Spearmint Oil</h3>
      <img class="img" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
    </div>
    <div data-aos="fade-left">
      <h3>Menthol Oil</h3>
      <img class="img" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
    </div>


  </div>
  <div class="container-3">
    <div data-aos="fade-right" >
      <h3>Mentha Piperita Oil</h3>
      <img class="img" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
    </div>
    <div data-aos="fade-left">
      <h3>Peppermint Oil</h3>
      <img class="img" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
    </div>


  </div>
  <div class="container-4">
    <div data-aos="fade-right" >
      <h3>Lemongrass Oil</h3>
      <img class="img" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
    </div>
    <div data-aos="fade-left" >
      <h3>Palmarosa Oil</h3>
      <img class="img" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
    </div>


  </div>

  <div class="container-5">
    <h2 data-aos="flip-down"><strong>Menthol Crystal</strong></h2>
    <div data-aos="zoom-in-left" >
      <h3>Menthol Crystal</h3>
      <img class="img-solo"src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
    </div>
    <h2 data-aos="flip-up" ><strong>Mint Terpenes</strong></h2>
    <div data-aos="zoom-in-left" >
      <h3>Mint Terpene</h3>
      <img  class="img-solo" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">

  </div>
  <h2 data-aos="fade-down-right"><strong>Menthol Flakes</strong></h2>
  <div data-aos="fade-up-left" >
    <h3>Menthol Flakes</h3>
    <img class="img-solo" src="https://tiimg.tistatic.com/fp/1/005/938/mint-product-825.jpg" alt="">
  </div>
  </div>



</div>

<%- include("partials/footer"); -%>
